<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "base/header.html" %}
    <title>Artikel - PSIDAMAI</title>

    <script>
      $(document).ready(function () {
          $.ajax({
              type: "GET",
              url: "/get-artikel",
              success: function (response) {
                  console.log(response.data_artikel);
                  $("#articleList").empty();
                  data = response.data_artikel;
                  data.forEach((item, index) => {
                      let imagePath = `../../static/${item.artikelPict}`; // Path gambar yang benar
                      let authorImagePath = `../../static/${item.authorPict}`;  // Path gambar author
                      
                      let articleList = `
                      <section id="blog-posts" class="blog-posts section">
                        <div class="container">
                          <div class="row gy-5">
                          {% for article in articles %}
                        <div class="col-lg-4" data-aos="flip-up">
              <a
                href="/artikel_details/{{ article.id }}"
                class="post-item-link text-decoration-none"
              >
                <article class="post-item">
                  <div class="post-img">
                    <img
                      src="{{ url_for('static', filename=article.image) }}"
                      alt="{{ article.title }}"
                      class="img-fluid"
                    />
                  </div>
                  <p class="post-category">${item.kategori}</p>
                  <h2 class="title">${item.title}</h2>
                  <div class="d-flex align-items-center">
                    <img
                      src="{{ url_for('static', filename=article.author_image) }}"
                      alt="{{ article.author }}"
                      class="img-fluid post-author-img flex-shrink-0"
                    />
                    <div class="post-meta">
                      <p class="post-author">${item.author}</p>
                      <p class="post-date">${item.date}</p>
                    </div>
                  </div>
                </article>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
                      `;
                      $("#articleList").append(articleList);
                  });
              },
              error: function (xhr, status, error) {
                  console.error("Error:", error);
              }
          });
      });
      

    function addArtikel() {
      let title = $("#title").val();
      let kategori = $("#kategori").val();
      let author = $("#author").val();
      let date = $("#date").val();
      let fileInput = $("#foto")[0].files[0];
      let fileAuthor = $("#fotoAuthor")[0].files[0];

      let formData = new FormData();
      formData.append("filePict", fileInput);
      formData.append("fileAuthor", fileAuthor);
      formData.append("title", title);
      formData.append("kategori", kategori);
      formData.append("author", author);
      formData.append("date", date);

      $.ajax({
        type: "POST",
        url: "/add-artikel",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
          Swal.fire({
            title: "Berhasil",
            text: "Artikel berhasil ditambahkan!",
            icon: "success",
            confirmButtonText: "Oke",
          }).then(() => window.location.reload());
        },
      });
    }
  </script>
  </head>
  <body>
    {% include "base/navbar_masuk.html" %}

    <main class="main">
      <!-- Page Title -->
      <div class="page-title">
        <div
          class="container d-lg-flex justify-content-between align-items-center"
        >
          <h1 class="mb-2 mb-lg-0 program-title">Artikel</h1>
        </div>
      </div>
      <!-- End Page Title -->

      <!-- Blog Posts -->
      <section id="blog-posts" class="blog-posts section">
        <div class="container">
          <div class="row gy-5">
            {% for article in articles %}
            <div class="col-lg-4" data-aos="flip-up">
              <a
                href="/artikel_details/{{ article.id }}"
                class="post-item-link text-decoration-none"
              >
                <article class="post-item">
                  <div class="post-img">
                    <img
                      src="{{ url_for('static', filename=article.artikelPict) }}"
                      alt="{{ article.title }}"
                      class="img-fluid"
                    />
                  </div>
                  <p class="post-category">{{ article.category }}</p>
                  <h2 class="title">{{ article.title }}</h2>
                  <div class="d-flex align-items-center">
                    <img
                      src="{{ url_for('static', filename=article.authorPict) }}"
                      alt="{{ article.author }}"
                      class="img-fluid post-author-img flex-shrink-0"
                    />
                    <div class="post-meta">
                      <p class="post-author">{{ article.author }}</p>
                      <p class="post-date">{{ article.date }}</p>
                    </div>
                  </div>
                </article>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Blog Posts -->
    </main>

    {% include "base/footer.html" %}
  </body>
</html>
